# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!create_system.sh
!skeleton_system/
!skeleton_system/*
!wxwidgets_gui/
!wxwidgets_gui/*
!sdl_mixer/
!sdl_mixer/*
!sdl/
!sdl/*
!life/
!life/*
!zzt_engine/
!zzt_engine/*
!build.sh
!sdl_input/
!sdl_input/*
!life2/
!life2/*
!rogue_engine/
!rogue_engine/*
!cycle/
!cycle/*
!sdl_video/
!sdl_video/*
!imgui/
!imgui/*
