# Blacklist files/folders in same directory as the .gitignore file
/*

# Whitelist some files
!.gitignore
!create_system.sh
!skeleton_system/
!skeleton_system/*
!wxwidgets_gui/
!wxwidgets_gui/*
!sdl_linux/
!sdl_linux/*
!life/
!life/*
